In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os
from functools import reduce

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
df = pd.read_excel('ECS Dataset.xlsx')
#df = df.drop('Unnamed: 0',axis=1)
df['TRACT'] =df['TRACT'].astype(str)
df['Zip Code'] =df['Zip Code'].astype(str)
df['Low Income Tract (1=yes, 0=no)'] = df['Low Income Tract (1=yes, 0=no)'].astype('category')

In [6]:
# os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
# df_Marital_Status = pd.read_excel('Seperated and Divorced.xlsx')
# df_Marital_Status['TRACT'] =df_Marital_Status['TRACT'].astype(str)
# df_final = df.merge(df_Marital_Status,on = 'TRACT', how = 'inner')
# df_final.to_excel('ECS Dataset.xlsx')

In [4]:
df.columns

Index(['TRACT', 'Geographic Area Name', 'Poverty Level', 'Food Stamps',
       'Disability under 5 years', 'Total population 5 years and over',
       'Speak English less than very well', 'Other than english', 'Spanish',
       'Indo-European languages', 'Asian and Pacific Island languages',
       'Other languages', 'Naturalized U.S. citizen', 'Non U.S. citizen',
       'Foster Children', 'Education Level (Highscool Degree Only or Below)',
       'Pregancy', 'Low BirthWeights', 'Unemployment', 'Uninsured',
       'Age below 5 Years', 'Population 0-5', 'Free Lunch Students',
       'Low Income Tract (1=yes, 0=no)', 'Food Dessert', 'No Vehicle',
       'Zip Code', 'Divorced', 'Seperated'],
      dtype='object')

In [177]:
import sweetviz
from mne.viz import plot_sensors_connectivity
# pip install -U mne
# pip install sweetviz

In [178]:
my_report = sweetviz.analyze([df, "df"])
my_report.show_html('ECS Analysis.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:25  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!
Report ECS Analysis.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

__Outlier replacement__: <br> Used the __interquartile range and median__ approach for detecting the outliers i.e. considering any value  1.5*IQR below the first quartile or above the third quartile as outliers. Followed by replacing the lower values and higher values 1 and 100 

In the below outlier_detect funtion, first i have passed all the columns to find Q1,Q3 values, i.e. 

Q1  = "middle" value in the first half of the selected column <br> 
Q3  = "middle" value in the second half of the selected column<br> 
IQR =  Interquartile range is equal to Q3 minus Q1<br> 
x   =  Created numpy array of the each column of dataset <br>

Now each value of the column is being passed through loop. If the value is less than the LTV, the value is repalced by 1, while value is greater than the UTV, the value has been replace by 100.So all the value above and below the UTV, LTV are being replaced by 100 and 1 respectively.

In [11]:
def outlier_detect(Df):
    for i in Df.describe().columns:
        Q1=Df.describe().at['25%',i]
        Q3=Df.describe().at['75%',i]
        IQR=Q3 - Q1
        LTV=Q1 - 1.5 * IQR
        UTV=Q3 + 1.5 * IQR
        x=np.array(Df[i])
        p=[]
        count1=0
        count2=0
        for j in x:
            if j < LTV:
                p.append(1)
                count1= count1+1
            elif j>UTV:
                p.append(100)
                count2= count2+1
            else:
                p.append(j)
        Df[i]=p
        print(i,LTV,UTV,count1,count2)
    return Df

In [12]:
outlier_detect(df)

Poverty Level -585.0 2055.0 0 7
Food Stamps -226.0 518.0 0 3
Disability under 5 years 0.0 0.0 0 17
Total population 5 years and over -1460.5 10999.5 0 5
Speak English less than very well -449.0 879.0 0 10
Other than english -888.0 2072.0 0 8
Spanish -475.0 1045.0 0 6
Indo-European languages -248.5 499.5 0 12
Asian and Pacific Island languages -291.5 520.5 0 14
Other languages -105.0 175.0 0 13
Naturalized U.S. citizen -413.5 910.5 0 9
Non U.S. citizen -295.5 652.5 0 16
Foster Children -40.5 67.5 0 20
Education Level (Highscool Degree Only or Below) -342.5 1509.5 0 6
Pregancy -86.5 221.5 0 8
Low BirthWeights -32.0 112.0 0 4
Unemployment -147.0 469.0 0 6
Uninsured -152.0 1104.0 0 12
Age below 5 Years -289.0 951.0 0 6
Population 0-5 -324.5 1135.5 0 6
Free Lunch Students -114.25 927.75 0 1
Food Dessert -1208.7446812499998 3622.69003275 0 6
No Vehicle -180.0 452.0 0 12
Divorced -70.5524999999999 1223.4195 0 6
Seperated -99.60749999999999 294.3645 0 4

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Uninsured,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code,Divorced,Seperated
0,12031000100,"Census Tract 1, Duval County, Florida",1593,323,100,5004,137,360,288,0,...,768,487,487,NaN,1,1743.396556,420,32206,973.172,279.296
1,12031000200,"Census Tract 2, Duval County, Florida",855,185,0,2283,28,52,38,0,...,334,99,155,NaN,1,1783.696402,210,32206,278.388,95.931
2,12031000300,"Census Tract 3, Duval County, Florida",998,136,0,2137,0,32,14,0,...,467,271,331,NaN,1,1699.117202,163,32206,274.500,111.630
3,12031000600,"Census Tract 6, Duval County, Florida",1761,390,0,5415,100,1293,444,39,...,999,488,674,226.0,1,1500.356103,418,32247,548.640,194.400
4,12031000700,"Census Tract 7, Duval County, Florida",754,75,0,3926,198,434,94,73,...,349,324,388,NaN,0,1120.011684,96,32207,331.248,86.832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,12031016808,"Census Tract 168.08, Duval County, Florida",316,67,0,3416,324,804,409,228,...,480,130,167,NaN,0,676.967011,67,32223,538.074,66.132
169,12031017100,"Census Tract 171, Duval County, Florida",1065,74,0,5671,143,369,257,99,...,468,212,266,225.0,0,726.091554,100,32204,805.190,49.635
170,12031017200,"Census Tract 172, Duval County, Florida",847,34,0,1901,62,254,49,64,...,447,116,123,NaN,1,966.039802,427,32205,461.264,72.640
171,12031017300,"Census Tract 173, Duval County, Florida",984,199,0,6414,86,220,134,74,...,489,406,485,542.0,0,0.000000,193,32220,865.018,123.574
172,12031017400,"Census Tract 174, Duval County, Florida",1009,140,0,2302,40,115,38,49,...,383,158,217,51.0,1,2077.743683,291,32202,226.780,146.625

In [13]:
df[(df['Poverty Level']==100)]

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Uninsured,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code,Divorced,Seperated
11,12031001500,"Census Tract 15, Duval County, Florida",100,408,100,3784,68,84,26,45,...,554,556,629,NaN,1,1540.287335,100,32209,476.595,233.625
37,12031010500,"Census Tract 105, Duval County, Florida",100,100,0,100,151,902,449,82,...,100,847,1083,284.0,0,100.000000,209,32218,100.000,250.420
56,12031012200,"Census Tract 122, Duval County, Florida",100,100,0,6568,296,801,303,71,...,100,922,1105,NaN,1,3328.207692,100,32205,1008.900,270.810
77,12031013521,"Census Tract 135.21, Duval County, Florida",100,100,0,10484,100,1796,880,419,...,980,100,100,NaN,1,100.000000,391,32244,100.000,161.514
110,12031014401,"Census Tract 144.01, Duval County, Florida",100,237,0,100,100,100,100,316,...,100,710,873,NaN,1,100.000000,164,32246,100.000,100.000
141,12031015923,"Census Tract 159.23, Duval County, Florida",100,212,0,8879,298,1931,367,354,...,623,770,816,NaN,0,1389.268230,102,32216,651.572,262.218
146,12031016100,"Census Tract 161, Duval County, Florida",100,505,0,7982,100,100,100,100,...,100,627,666,NaN,1,2534.618558,100,32207,1033.968,79.536

Using the MinMaxScaler approach transforms the each feature values range (1,100) 

# Scaling Function:

J_max = maximum value in each column <br>
J_min = minimum value in each column <br>

Now each value of the particular column has been passed thorugh the loop. If the value is 1 and 100 i.e. outlier, as the values are already scaled, they are not changed. while other values are being scaled using the below formula.

p = 1+(99*(j-J_min))/(J_max - J_min))
 
now all the values in the dataset are being scaled between 1 and 100.

In [14]:
def Scaling(Df):
    for i in Df.describe().columns:
        J_max=Df.describe().at['max',i]
        J_min=Df.describe().at['min',i]
        x=np.array(Df[i])
        p=[]
        count1=0
        count2=0
        for j in x:
            if j == 1:
                p.append(1)
                count1= count1+1
            elif j == 100:
                p.append(100)
                count2= count2+1
            else:
                p.append(1+(99*(j-J_min))/(J_max - J_min))
        Df[i]=p
        print(i,count1,count2)
    return Df

In [15]:
Scaling(df)
df = df.round(0)
df.head()
# df.to_csv('ECS Scaled_Values.csv')

Poverty Level 0 7
Food Stamps 0 3
Disability under 5 years 0 17
Total population 5 years and over 0 5
Speak English less than very well 0 11
Other than english 0 8
Spanish 0 7
Indo-European languages 0 12
Asian and Pacific Island languages 1 14
Other languages 1 13
Naturalized U.S. citizen 0 9
Non U.S. citizen 0 16
Foster Children 0 20
Education Level (Highscool Degree Only or Below) 0 7
Pregancy 0 9
Low BirthWeights 0 4
Unemployment 0 6
Uninsured 0 12
Age below 5 Years 0 6
Population 0-5 0 6
Free Lunch Students 0 1
Food Dessert 0 6
No Vehicle 0 14
Divorced 0 6
Seperated 0 4

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Uninsured,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code,Divorced,Seperated
0,12031000100,"Census Tract 1, Duval County, Florida",81.0,64.0,100.0,46.0,16.0,18.0,29.0,1.0,...,74.0,53.0,43.0,NaN,1,53.0,94.0,32206,82.0,100.0
1,12031000200,"Census Tract 2, Duval County, Florida",43.0,37.0,1.0,21.0,4.0,3.0,5.0,1.0,...,32.0,11.0,13.0,NaN,1,54.0,48.0,32206,20.0,35.0
2,12031000300,"Census Tract 3, Duval County, Florida",51.0,28.0,1.0,20.0,1.0,2.0,2.0,1.0,...,44.0,30.0,29.0,NaN,1,51.0,37.0,32206,20.0,40.0
3,12031000600,"Census Tract 6, Duval County, Florida",90.0,77.0,1.0,50.0,100.0,65.0,45.0,10.0,...,96.0,53.0,60.0,28.0,1,46.0,94.0,32247,44.0,70.0
4,12031000700,"Census Tract 7, Duval County, Florida",38.0,16.0,1.0,36.0,23.0,22.0,10.0,17.0,...,33.0,35.0,34.0,NaN,0,34.0,22.0,32207,25.0,32.0

## Categorical Variable : <br>
Changing the LowIncomeTract1yes0no to 0% and 100%

In [16]:
df['Low Income Tract (1=yes, 0=no)'] = df['Low Income Tract (1=yes, 0=no)'].astype(int)
df['Low Income Tract (1=yes, 0=no)'] = df['Low Income Tract (1=yes, 0=no)']*100
df['Low Income Tract (1=yes, 0=no)']

0      100
1      100
2      100
3      100
4        0
      ...
168      0
169      0
170    100
171      0
172    100
Name: Low Income Tract (1=yes, 0=no), Length: 173, dtype: int32

## Calculation of Foreign Born Index

In [17]:
df_Foreign_Born_Index = df[['TRACT','Zip Code','Other than english',
'Non U.S. citizen',
'Low BirthWeights',
'Uninsured',
'Naturalized U.S. citizen',
'Education Level (Highscool Degree Only or Below)'
]]
df_Foreign_Born_Index['Foreign Born Index'] = df_Foreign_Born_Index.mean(axis = 1) 
df_Foreign_Born_Index.head()

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TRACT,Zip Code,Other than english,Non U.S. citizen,Low BirthWeights,Uninsured,Naturalized U.S. citizen,Education Level (Highscool Degree Only or Below),Foreign Born Index
0,12031000100,32206,18.0,32.0,62.0,74.0,49.0,60.0,49.166667
1,12031000200,32206,3.0,6.0,33.0,32.0,5.0,43.0,20.333333
2,12031000300,32206,2.0,1.0,25.0,44.0,1.0,46.0,19.833333
3,12031000600,32247,65.0,100.0,47.0,96.0,32.0,76.0,69.333333
4,12031000700,32207,22.0,47.0,19.0,33.0,19.0,14.0,25.666667

## Calculation of Income Constraint Index

In [18]:
df_Income_Constrained_Index = df[['TRACT','Zip Code',
                            'Low BirthWeights',
'Uninsured',
'Education Level (Highscool Degree Only or Below)',
'Poverty Level',
'Food Stamps',
'Food Dessert',
'No Vehicle',
'Low Income Tract (1=yes, 0=no)'
]]

attributes = ['Low BirthWeights',
'Uninsured',
'Education Level (Highscool Degree Only or Below)',
'Poverty Level',
'Food Stamps',
'Food Dessert',
'No Vehicle',
'Low Income Tract (1=yes, 0=no)']

weights = [0.5,0.2,0.5,1,1,0.9,0.8,0.7]

df_Income_Constrained_Index['Income Constraint Index'] = df_Income_Constrained_Index[attributes].mul(weights).mean(axis=1)
df_Income_Constrained_Index.head()

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TRACT,Zip Code,Low BirthWeights,Uninsured,Education Level (Highscool Degree Only or Below),Poverty Level,Food Stamps,Food Dessert,No Vehicle,"Low Income Tract (1=yes, 0=no)",Income Constraint Index
0,12031000100,32206,62.0,74.0,60.0,81.0,64.0,53.0,94.0,100,51.7125
1,12031000200,32206,33.0,32.0,43.0,43.0,37.0,54.0,48.0,100,35.1750
2,12031000300,32206,25.0,44.0,46.0,51.0,28.0,51.0,37.0,100,33.6000
3,12031000600,32247,47.0,96.0,76.0,90.0,77.0,46.0,94.0,100,54.2875
4,12031000700,32207,19.0,33.0,14.0,38.0,16.0,34.0,22.0,0,15.6625

## Calculation of ECS Index

In [19]:
df_Index_ECS = df[['TRACT', 'Geographic Area Name', 'Poverty Level', 'Food Stamps',
       'Disability under 5 years', 'Naturalized U.S. citizen',
       'Other languages', 'Non U.S. citizen',
       'Foster Children', 'Education Level (Highscool Degree Only or Below)',
       'Pregancy', 'Low BirthWeights', 'Unemployment', 'Uninsured', 'Divorced',
       'Seperated', 'Low Income Tract (1=yes, 0=no)',
       'Free Lunch Students','Food Dessert',
       'No Vehicle', 'Zip Code']]

attributes = ['Other languages', 'Non U.S. citizen', 'Low BirthWeights','Naturalized U.S. citizen',
              'Education Level (Highscool Degree Only or Below)','Unemployment', 'Divorced',
              'Poverty Level', 'Food Stamps','Food Dessert', 'No Vehicle',
             'Seperated', 'Low Income Tract (1=yes, 0=no)', 'Free Lunch Students','Foster Children', 
              'Disability under 5 years']

weights = [0.6,0.4,0.6,0.4,0.7,0.5,0.4,0.9,1,0.2,0.2,0.4,0.2,0.2,1,1]

df_Index_ECS['ECS Index'] = df_Index_ECS[attributes].mul(weights).mean(axis = 1)
df_Index_ECS.head()

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Naturalized U.S. citizen,Other languages,Non U.S. citizen,Foster Children,Education Level (Highscool Degree Only or Below),...,Unemployment,Uninsured,Divorced,Seperated,"Low Income Tract (1=yes, 0=no)",Free Lunch Students,Food Dessert,No Vehicle,Zip Code,ECS Index
0,12031000100,"Census Tract 1, Duval County, Florida",81.0,64.0,100.0,49.0,1.0,32.0,1.0,60.0,...,97.0,74.0,82.0,100.0,100,NaN,53.0,94.0,32206,34.720000
1,12031000200,"Census Tract 2, Duval County, Florida",43.0,37.0,1.0,5.0,1.0,6.0,21.0,43.0,...,44.0,32.0,20.0,35.0,100,NaN,54.0,48.0,32206,15.800000
2,12031000300,"Census Tract 3, Duval County, Florida",51.0,28.0,1.0,1.0,1.0,1.0,1.0,46.0,...,32.0,44.0,20.0,40.0,100,NaN,51.0,37.0,32206,13.473333
3,12031000600,"Census Tract 6, Duval County, Florida",90.0,77.0,1.0,32.0,10.0,100.0,12.0,76.0,...,31.0,96.0,44.0,70.0,100,28.0,46.0,94.0,32247,26.618750
4,12031000700,"Census Tract 7, Duval County, Florida",38.0,16.0,1.0,19.0,12.0,47.0,1.0,14.0,...,25.0,33.0,25.0,32.0,0,NaN,34.0,22.0,32207,10.233333

In [20]:
dfs = [df_Foreign_Born_Index,df_Income_Constrained_Index, df_Index_ECS]
df_Scaled_Scores = reduce(lambda left,right: pd.merge(left,right,on='TRACT'), dfs)
df_Scaled_Scores = df_Scaled_Scores[['TRACT','Foreign Born Index','Income Constraint Index','ECS Index']]
df_Final_Scales_Scores = df.merge(df_Scaled_Scores, on = 'TRACT', how = 'inner')
df_Final_Scales_Scores = df_Final_Scales_Scores.round(0)
df_Final_Scales_Scores.head()

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code,Divorced,Seperated,Foreign Born Index,Income Constraint Index,ECS Index
0,12031000100,"Census Tract 1, Duval County, Florida",81.0,64.0,100.0,46.0,16.0,18.0,29.0,1.0,...,NaN,100,53.0,94.0,32206,82.0,100.0,49.0,52.0,35.0
1,12031000200,"Census Tract 2, Duval County, Florida",43.0,37.0,1.0,21.0,4.0,3.0,5.0,1.0,...,NaN,100,54.0,48.0,32206,20.0,35.0,20.0,35.0,16.0
2,12031000300,"Census Tract 3, Duval County, Florida",51.0,28.0,1.0,20.0,1.0,2.0,2.0,1.0,...,NaN,100,51.0,37.0,32206,20.0,40.0,20.0,34.0,13.0
3,12031000600,"Census Tract 6, Duval County, Florida",90.0,77.0,1.0,50.0,100.0,65.0,45.0,10.0,...,28.0,100,46.0,94.0,32247,44.0,70.0,69.0,54.0,27.0
4,12031000700,"Census Tract 7, Duval County, Florida",38.0,16.0,1.0,36.0,23.0,22.0,10.0,17.0,...,NaN,0,34.0,22.0,32207,25.0,32.0,26.0,16.0,10.0

In [27]:
# df_Final_Scales_Scores.to_excel('ECS Scaled Features Data.xlsx')
#df_Final_Scales_Scores.describe()

In [21]:
df_Final_Scales_Scores.describe()

,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,Asian and Pacific Island languages,Other languages,...,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Divorced,Seperated,Foreign Born Index,Income Constraint Index,ECS Index
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,...,173.000000,39.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,40.138728,32.670520,10.728324,44.924855,29.450867,33.572254,31.838150,32.416185,28.976879,24.809249,...,37.537572,48.025641,49.132948,39.387283,36.687861,47.803468,38.959538,38.057803,27.635838,18.086705
std,26.281866,25.098205,29.555253,20.416595,29.004494,28.259630,27.940704,30.741045,30.936536,33.061316,...,24.255305,23.610309,50.137598,26.209692,29.010538,22.419535,27.223955,20.673742,15.527930,8.439835
min,1.000000,1.000000,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,4.000000,2.000000,2.000000
25%,20.000000,11.000000,1.000000,30.000000,7.000000,11.000000,10.000000,8.000000,4.000000,1.000000,...,19.000000,34.500000,0.000000,19.000000,14.000000,32.000000,18.000000,22.000000,16.000000,12.000000
50%,34.000000,29.000000,1.000000,41.000000,18.000000,25.000000,23.000000,20.000000,18.000000,7.000000,...,30.000000,45.000000,0.000000,36.000000,31.000000,44.000000,32.000000,35.000000,26.000000,17.000000
75%,54.000000,48.000000,1.000000,58.000000,44.000000,48.000000,48.000000,49.000000,44.000000,41.000000,...,53.000000,66.000000,100.000000,55.000000,50.000000,61.000000,53.000000,49.000000,38.000000,24.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,98.000000,70.000000,44.000000

## Re-Scaling the Indexes using MinMaxScalar approach

In [22]:
# os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
# df_Index = pd.read_excel('ECS Scaled Features Data.xlsx')
df_Index = df_Final_Scales_Scores[['TRACT','Foreign Born Index','Income Constraint Index', 'ECS Index']]

In [23]:
def Scaling_Index(Df):
    for i in Df.describe().columns:
        J_max=Df.describe().at['max',i]
        J_min=Df.describe().at['min',i]
        x=np.array(Df[i])
        p=[]
        count1=0
        count2=0
        for j in x:
            p.append(1+(99*(j-J_min))/(J_max - J_min))
        Df[i]=p
        print(i,count1,count2)
    return Df

In [24]:
Scaling_Index(df_Index)

Foreign Born Index 0 0
Income Constraint Index 0 0
ECS Index 0 0

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

           TRACT  Foreign Born Index  Income Constraint Index  ECS Index
0    12031000100           48.393617                73.794118  78.785714
1    12031000200           17.851064                49.044118  34.000000
2    12031000300           17.851064                47.588235  26.928571
3    12031000600           69.457447                76.705882  59.928571
4    12031000700           24.170213                21.382353  19.857143
..           ...                 ...                      ...        ...
168  12031016808           29.436170                14.102941  17.500000
169  12031017100           24.170213                35.941176  26.928571
170  12031017200           17.851064                43.220588  22.214286
171  12031017300           39.968085                33.029412  43.428571
172  12031017400           19.957447                53.411765  34.000000

[173 rows x 4 columns]

In [25]:
df_final = df_Index.merge(df, on = 'TRACT', how = 'inner')
df_final= df_final.round(0)
df_final.head()

,TRACT,Foreign Born Index,Income Constraint Index,ECS Index,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,...,Uninsured,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code,Divorced,Seperated
0,12031000100,48.0,74.0,79.0,"Census Tract 1, Duval County, Florida",81.0,64.0,100.0,46.0,16.0,...,74.0,53.0,43.0,NaN,100,53.0,94.0,32206,82.0,100.0
1,12031000200,18.0,49.0,34.0,"Census Tract 2, Duval County, Florida",43.0,37.0,1.0,21.0,4.0,...,32.0,11.0,13.0,NaN,100,54.0,48.0,32206,20.0,35.0
2,12031000300,18.0,48.0,27.0,"Census Tract 3, Duval County, Florida",51.0,28.0,1.0,20.0,1.0,...,44.0,30.0,29.0,NaN,100,51.0,37.0,32206,20.0,40.0
3,12031000600,69.0,77.0,60.0,"Census Tract 6, Duval County, Florida",90.0,77.0,1.0,50.0,100.0,...,96.0,53.0,60.0,28.0,100,46.0,94.0,32247,44.0,70.0
4,12031000700,24.0,21.0,20.0,"Census Tract 7, Duval County, Florida",38.0,16.0,1.0,36.0,23.0,...,33.0,35.0,34.0,NaN,0,34.0,22.0,32207,25.0,32.0

In [26]:
df_final =df_final[['TRACT','Geographic Area Name', 'Zip Code',
        'Poverty Level', 'Food Stamps',
       'Disability under 5 years', 'Total population 5 years and over',
       'Speak English less than very well', 'Other than english', 'Spanish',
       'Indo-European languages', 'Asian and Pacific Island languages',
       'Other languages', 'Naturalized U.S. citizen', 'Non U.S. citizen',
       'Foster Children', 'Education Level (Highscool Degree Only or Below)',
       'Pregancy', 'Low BirthWeights', 'Unemployment', 'Uninsured', 'Divorced',
       'Seperated', 'Age below 5 Years', 'Population 0-5',
       'Free Lunch Students', 'Low Income Tract (1=yes, 0=no)', 'Food Dessert',
       'No Vehicle','Foreign Born Index', 'Income Constraint Index', 'ECS Index']]

#df_final.to_excel('ECS Re-Scaled Features Dataset.xlsx')

In [27]:
df_final.describe()

,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,Asian and Pacific Island languages,Other languages,...,Seperated,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Foreign Born Index,Income Constraint Index,ECS Index
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,...,173.000000,173.000000,173.000000,39.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,40.138728,32.670520,10.728324,44.924855,29.450867,33.572254,31.838150,32.416185,28.976879,24.809249,...,38.959538,38.057803,37.537572,48.025641,49.132948,39.387283,36.687861,36.884393,38.300578,38.988439
std,26.281866,25.098205,29.555253,20.416595,29.004494,28.259630,27.940704,30.741045,30.936536,33.061316,...,27.223955,23.682422,24.255305,23.610309,50.137598,26.209692,29.010538,21.760281,22.646214,19.914640
min,1.000000,1.000000,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,20.000000,11.000000,1.000000,30.000000,7.000000,11.000000,10.000000,8.000000,4.000000,1.000000,...,18.000000,19.000000,19.000000,34.500000,0.000000,19.000000,14.000000,20.000000,21.000000,25.000000
50%,34.000000,29.000000,1.000000,41.000000,18.000000,25.000000,23.000000,20.000000,18.000000,7.000000,...,32.000000,31.000000,30.000000,45.000000,0.000000,36.000000,31.000000,34.000000,36.000000,36.000000
75%,54.000000,48.000000,1.000000,58.000000,44.000000,48.000000,48.000000,49.000000,44.000000,41.000000,...,53.000000,53.000000,53.000000,66.000000,100.000000,55.000000,50.000000,48.000000,53.000000,53.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [33]:
df_Scaled_Values = pd.read_csv('ECS Re-Scaled Features Dataset 03.08.2020.csv')

In [30]:
df_original_values = pd.read_excel('ECS Dataset.xlsx')

In [31]:
df_original_values.head()

,TRACT,Geographic Area Name,Poverty Level_Original_Value,Food Stamps_Original_Value,Disability under 5 years_Original_Value,Total population 5 years and over_Original_Value,Speak English less than very well_Original_Value,Other than english_Original_Value,Spanish_Original_Value,Indo-European languages_Original_Value,...,Uninsured_Original_Value,Age below 5 Years_Original_Value,Population 0-5_Original_Value,Free Lunch Students_Original_Value,"Low Income Tract (1=yes, 0=no)_Original_Value",Food Dessert_Original_Value,No Vehicle_Original_Value,Zip Code_Original_Value,Divorced_Original_Value,Seperated_Original_Value
0,12031000100,"Census Tract 1, Duval County, Florida",1593,323,13,5004,137,360,288,0,...,768,487,487,NaN,1,1743.396556,420,32206,973.172,279.296
1,12031000200,"Census Tract 2, Duval County, Florida",855,185,0,2283,28,52,38,0,...,334,99,155,NaN,1,1783.696402,210,32206,278.388,95.931
2,12031000300,"Census Tract 3, Duval County, Florida",998,136,0,2137,0,32,14,0,...,467,271,331,NaN,1,1699.117202,163,32206,274.500,111.630
3,12031000600,"Census Tract 6, Duval County, Florida",1761,390,0,5415,983,1293,444,39,...,999,488,674,226.0,1,1500.356103,418,32247,548.640,194.400
4,12031000700,"Census Tract 7, Duval County, Florida",754,75,0,3926,198,434,94,73,...,349,324,388,NaN,0,1120.011684,96,32207,331.248,86.832

In [34]:
df_Merged_Original_and_Scaled = df_original_values.merge(df_Scaled_Values, how = 'inner', on = 'TRACT')

In [38]:
df_Merged_Original_and_Scaled.to_csv('ECS_Dataset_Original_and_Scaled_Values.csv')

In [39]:
df_Merged_Original_and_Scaled.columns

Index(['TRACT', 'Geographic Area Name_x', 'Poverty Level_Original_Value',
       'Food Stamps_Original_Value', 'Disability under 5 years_Original_Value',
       'Total population 5 years and over_Original_Value',
       'Speak English less than very well_Original_Value',
       'Other than english_Original_Value', 'Spanish_Original_Value',
       'Indo-European languages_Original_Value',
       'Asian and Pacific Island languages_Original_Value',
       'Other languages_Original_Value',
       'Naturalized U.S. citizen_Original_Value',
       'Non U.S. citizen_Original_Value', 'Foster Children_Original_Value',
       'Education Level (Highscool Degree Only or Below)_Original_Value',
       'Pregancy_Original_Value', 'Low BirthWeights_Original_Value',
       'Unemployment_Original_Value', 'Uninsured_Original_Value',
       'Age below 5 Years_Original_Value', 'Population 0-5_Original_Value',
       'Free Lunch Students_Original_Value',
       'Low Income Tract (1=yes, 0=no)_Original_Value',
       'Food Dessert_Original_Value', 'No Vehicle_Original_Value',
       'Zip Code_Original_Value', 'Divorced_Original_Value',
       'Seperated_Original_Value', 'Unnamed: 0', 'Geographic Area Name_y',
       'Zip Code', 'Poverty Level', 'Food Stamps', 'Disability under 5 years',
       'Total population 5 years and over',
       'Speak English less than very well', 'Other than english', 'Spanish',
       'Indo-European languages', 'Asian and Pacific Island languages',
       'Other languages', 'Naturalized U.S. citizen', 'Non U.S. citizen',
       'Foster Children', 'Education Level (Highscool Degree Only or Below)',
       'Pregancy', 'Low BirthWeights', 'Unemployment', 'Uninsured', 'Divorced',
       'Seperated', 'Age below 5 Years', 'Population 0-5',
       'Free Lunch Students', 'Low Income Tract (1=yes, 0=no)', 'Food Dessert',
       'No Vehicle', 'Foreign Born & Disadvantaged', 'Income Constrained',
       'ECS Screening', 'Key'],
      dtype='object')

In [4]:
#Adding Health Zones
os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
df_Health_Zones = pd.read_excel('Health_Zones_Duval_County.xlsx')
df_Merged_Original_and_Scaled = pd.read_csv('ECS_Dataset_Original_and_Scaled_Values.csv')

In [5]:
df_Final = df_Merged_Original_and_Scaled.merge(df_Health_Zones,on = 'TRACT', how = 'inner')

In [6]:
df_Final.to_csv('ECS_Dataset_Original_and_Scaled_Values.csv')

In [8]:
#Adding Names
os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
df_Duval_Tract_and_Name = pd.read_excel('Duval_Tract_and_Name.xlsx')

In [10]:
df_Final = df_Final.merge(df_Duval_Tract_and_Name, how = 'inner', on = 'TRACT')

In [11]:
df_Final.to_csv('ECS_Dataset_Original_and_Scaled_Values.csv')